.grid-container {
    font-size: 3vh;
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px; /* Adjust the gap size as needed */
}

.grid-item {
    background-color: #919191;
    border: 1px solid #000; 
    border-radius: 3%;
    /*Make all items square*/
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.grid-item-correct {
    background-color: #79ce48;
    color: white;
}

.grid-item-wrong {
    background-color: rgb(241, 204, 79) ;
}
body{
    text-align: center;
    background-color: #c9c9c9;
}

#guess{
    margin-top: 5vh;
}

*{
    font-size: 130%;
    overflow: hidden;
}
h1{
    color: #BC13FE;
    font-size: 5vh;
}

/*if screensize is small adjust values*/
@media screen and (max-width: 600px) {
    *{
        font-size: 110%;
        overflow: hidden;
    }
    body{
        margin-top: 10%;
    }
    #guessBtn{
        margin-top: 5vh;
    }
}